.navbar {
  background-color: transparent;
  box-shadow: var(--shadow);
  justify-content: space-between;
}

.navbar a {
  color: var(--text-clr);
}

.navbar,
.nav-controls,
.icon-user {
  display: flex;
  align-items: center;
}

.btn-theme-toggle,
.icon-user {
  cursor: pointer;
  transition: transform 200ms ease;
  font-size: 2rem;
}
